.button {
    display: inline-block;
    background-color: green;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    transition: transform 100ms linear;
}

.button:hover {
    transform: scale(1.08);
}